<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h4 class="my-3 border-bottom pb-2"></h4>
	<form th:action="@{/question/create}" th:object="${questionForm}" method="post">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}">에러원인</div>
		</div>
		<div class="mb-3">
			<label for="subject" class="form-label">제목</label>
			<input type="text" th:field="*{subject}" class="form-control"><!--  th:field는 name,id,value값을 모두 {}안의 값으로 세팅 -->
		</div>
		<div class="mb-3">
			<label for="content" class="form-label">내용</label>
			<textarea rows="10" th:field="*{content}" class="form-control" ></textarea>
		</div>
		<input type="submit" value="저장하기">
	</form>
</html>